@import '~bootstrap/scss/bootstrap.scss';

.wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    background: #654ea3;
    background: linear-gradient(to right, #e96443, #904e95);
}

.content-right {
    width: 400px;
    height: 350px;
    margin: auto;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    .heading {
        text-align: center;
        font-weight: 600;
        font-size: 4.8rem;
        color: #3786be;
    }

    .title {
        font-size: 1.6rem;
        color: #3795d7;
        text-shadow: 1px 1px #3794d74c;
    }

    .password-input,
    .email-input {
        font-size: 1.6rem;
    }

    label {
        font-size: 2rem;
    }

    input {
        font-size: 1.4rem;
        padding: 12px;
    }

    .action-btn {
        margin-top: auto;
        display: flex;
        justify-content: space-between;
        .btn {
            min-width: 70px;
            font-size: 1.6rem;
        }
    }
}
