$color_1: var(--font-color);
$color_2: var(--main-color);
$color_3: var(--font-color-sub);
$background-color_1: var(--bg-colorcolor);
$background-color_2: var(--bg-color);
$background-color_3: var(--input-focus);
$background-color_4: transparent;

/* switch card */
/* card */

.wrapper-login {
    --input-focus: #2d8cf0;
    --font-color: #323232;
    --font-color-sub: #666;
    --bg-color: #fff;
    --bg-color-alt: #666;
    --main-color: #323232;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.switch {
    transform: translateY(-200px);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 50px;
    height: 20px;
}
.card-side {
    &::before {
        position: absolute;
        content: 'Log in';
        left: -70px;
        top: 0;
        width: 100px;
        text-decoration: underline;
        color: $color_1;
        font-weight: 600;
    }
    &::after {
        position: absolute;
        content: 'Sign up';
        left: 70px;
        top: 0;
        width: 100px;
        text-decoration: none;
        color: $color_1;
        font-weight: 600;
    }
}
.toggle {
    opacity: 0;
    width: 0;
    height: 0;
    &:checked {
        + {
            .slider {
                background-color: $background-color_3;
                &:before {
                    transform: translateX(30px);
                }
            }
        }
        ~ {
            .card-side {
                &:before {
                    text-decoration: none;
                }
                &:after {
                    text-decoration: underline;
                }
            }
            .flip-card__inner {
                transform: rotateY(180deg);
            }
            .flip-card__front {
                box-shadow: none;
            }
        }
    }
}
.slider {
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $background-color_1;
    transition: 0.3s;
    &:before {
        box-sizing: border-box;
        position: absolute;
        content: '';
        height: 20px;
        width: 20px;
        border: 2px solid var(--main-color);
        border-radius: 5px;
        left: -2px;
        bottom: 2px;
        background-color: $background-color_2;
        box-shadow: 0 3px 0 var(--main-color);
        transition: 0.3s;
    }
}
.flip-card__inner {
    width: 300px;
    height: 350px;
    position: relative;
    background-color: $background-color_4;
    perspective: 1000px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.flip-card__front {
    padding: 20px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: lightgrey;
    gap: 20px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
}
.flip-card__back {
    padding: 20px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: lightgrey;
    gap: 20px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    width: 100%;
    transform: rotateY(180deg);
}
.flip-card__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.title {
    margin: 20px 0 20px 0;
    font-size: 25px;
    font-weight: 900;
    text-align: center;
    color: $color_2;
}
.flip-card__input {
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: $background-color_2;
    box-shadow: 4px 4px var(--main-color);
    font-size: 15px;
    font-weight: 600;
    color: $color_1;
    padding: 5px 10px;
    outline: none;
    &::placeholder {
        color: $color_3;
        opacity: 0.8;
    }
    &:focus {
        border: 2px solid var(--input-focus);
    }
}
.flip-card__btn {
    &:active {
        box-shadow: 0px 0px var(--main-color);
        transform: translate(3px, 3px);
    }
    margin: 20px 0 20px 0;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: $background-color_2;
    box-shadow: 4px 4px var(--main-color);
    font-size: 17px;
    font-weight: 600;
    color: $color_1;
    cursor: pointer;
}
.button-confirm {
    &:active {
        box-shadow: 0px 0px var(--main-color);
        transform: translate(3px, 3px);
    }
}
