$color_1: white;
$background-color_1: #111;
$background-color_2: #555;
$font-primary: 'Poppins', Arial, sans-serif;
$primary: #2f89fc;
.adminNavbar-wrapper {
    width: 285px;
    background-color: #555;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 5;
    transition: 1s ease-out;
    transform: translateX(-100%);

    &.open {
        transform: translateX(0);
    }

    .admin-sidebar {
        .custom-menu {
            position: absolute;
            top: 0;
            right: -80px;
            .admin-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50px;
                height: 50px;
                background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
                border: 1px solid transparent;
                border-radius: 12px;
                i {
                    background-color: #21d4fd;
                    background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    font-size: 2.6rem;
                    font-weight: 600;
                }
            }
        }
        .background-admin {
            background-image: url('https://images.unsplash.com/photo-1536904132820-d4760eae1463?q=80&w=1888&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
            background-size: cover;
            background-repeat: no-repeat;
            padding: 12px;
            .admin-logo {
                width: 100px;
                height: 100px;
                margin: 0 auto 12px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
                border-radius: 50%;
                background-image: url('https://mighty.tools/mockmind-api/content/human/57.jpg');
            }
            h3 {
                text-align: center;
                background-color: #21d4fd;
                background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-size: 1.6rem;
                font-weight: 600;
            }
        }
        .admin-list {
            margin-top: 20px;
            padding-left: 0;
            list-style: none;

            .admin-item {
                border: 1px solid #ccc;

                font-size: 1.8rem;
                font-weight: 600;
                color: #fff;
                a {
                    display: block;
                    width: 100%;
                    padding: 15px 30px;
                    text-decoration: none;
                    color: #fff;
                    transition: 0.2s ease;
                    &:hover {
                        background-color: #2f89fc;
                        color: #fff;
                        font-size: 1.9rem;
                    }
                }
            }
        }
    }
}
