.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eeeeee;
}

.inner {
    width: var(--content-width);
    min-height: 1000px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
    padding-top: 24px;
}

.main-content {
    display: flex;
    justify-content: space-between;
}

.product-content {
    flex: 1;

    // border: 1px solid blue;

    .product-list {
        display: flex;
        flex-wrap: wrap;
    }
}
