.wrapper {
    background-color: #eeeeee;

    .bubble {
        display: flex;
        position: relative;

        span {
            position: relative;
            width: 15px;
            height: 15px;
            background-image: linear-gradient(to right, #ed6ea0 0%, #ec8c69 100%);
            margin: 7px;
            border-radius: 0% 100% 35% 65% / 34% 89% 11% 66%;
            box-shadow: 0 0 0 10px #68e0d067, 0 0 50px #68e0cf, 0 0 100px #bfd9fe;
            animation: floating 15s ease-in infinite;
            animation-duration: calc(220s / var(--i));
            &:nth-child(even) {
                background-image: linear-gradient(-20deg, #00cdac 0%, #8ddad5 100%);
                border-radius: 100% 0% 84% 16% / 76% 9% 91% 24%;
                box-shadow: 0 0 0 10px #00cdab49, 0 0 50px #68e0d067, 0 0 100px #bfd9fe;
            }
        }
    }
}

.inner {
    z-index: 2;
    width: var(--content-width);
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
    // height: 1000px;
    .banner {
        display: block;
        width: 90%;
        height: 70px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        border: 1px solid green;
        border-radius: 8px;
        object-fit: cover;
        animation: bouncing 3s ease infinite;
    }
}

.product-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.content-left {
    width: 50%;
    z-index: 2;
    .product-item {
        width: 80%;
        // padding: 0 10%;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        border-radius: 12px;
        .thumb {
            display: block;
            margin: 0 auto;
            border: 10px solid transparent;
            width: 100%;
            height: 710px;
            object-fit: cover;
            border-radius: 12px;
            transition: 0.3s ease;
            animation: changeColor 2.5s infinite;
            border-image: linear-gradient(45deg, #fa8bff 0%, #2bd2ff 52%, #2bff88 90%) 10;
        }
    }
    .product-slider {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 20px;

        .slider-items {
            width: 150px;
            height: 150px;
            object-fit: cover;
            border-radius: 24px;
            margin: 0 8px 8px;

            &.active {
                opacity: 0.7;
                border: 7px solid transparent;
                animation: changeColor 2.5s infinite;
                border-image: linear-gradient(45deg, #fa8bff 0%, #2bd2ff 52%, #2bff88 90%) 10;
            }
        }
    }
}

.content-right {
    flex: 1;
    z-index: 2;
    .heading {
        margin: 20px 0;
        font-size: 2.6rem;
        font-weight: 700;
        // color: #0f52ba;
        background-color: #1522d1;
        background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .rating {
        margin: 20px 0;
        font-size: 1.8rem;
        .star-icon {
            color: #ffb700;
        }
    }
    .desc-title {
        font-size: 2rem;
        font-weight: 600;
        color: #0f52ba;
    }
    .desc {
        font-size: 1.8rem;
    }

    .category {
        display: flex;
        justify-content: space-between;
        min-height: 120px;
        gap: 10px;
        .desc-title {
            font-size: 1.8rem;
        }

        .product-category,
        .product-type {
            width: 50%;
            border-radius: 12px;

            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
            .category-tags,
            .type-tags {
                display: flex;
                flex-wrap: wrap;
                gap: 3px;
                margin-top: 10px;
                .tags {
                    color: var(--text-color);
                    padding: 5px;
                    margin-right: 3px;
                    border: 1px solid transparent;
                    border-radius: 99px;

                    &:hover {
                        opacity: 0.85;
                    }
                }

                .brand-tag {
                    background-color: #90bfc7;
                }
                .type-tag {
                    background-color: #c2df9e;
                }
                .switch-tag {
                    background-color: #f6d8ec;
                }
            }
        }
        .product-type {
            flex: 1;
        }
    }

    .purchase {
        width: 70%;
        min-height: 186px;
        margin-top: 27px;
        padding: 20px;
        border-radius: 12px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

        .original-price {
            display: flex;
            font-size: 1.6rem;

            .discount {
                margin-left: 10px;
                padding: 0 8px;
                color: #67b044;
                background-color: #67b0443d;
            }
        }

        .price {
            margin: 20px 0;
            font-size: 2.6rem;
            font-weight: 600;
        }

        .purchase-action {
            .add-cart-btn {
                padding: 10px 55px;
                font-size: 1.8rem;
                border-radius: 12px;
                margin-right: 20px;
            }

            .like {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: 46px;
                height: 46px;
                border-radius: 6px;
                border: 1px solid #d2d1d6;
                transition: background-color 0.3s ease-out, transform 0.3s ease;

                .like-icon {
                    padding: 11px;
                    transition: color 0.3s ease-out;
                }
                &.active {
                    background-color: #8bc6ec;
                    background-image: radial-gradient(
                        circle farthest-corner at 10% 20%,
                        rgba(0, 221, 214, 1) 0%,
                        rgba(51, 102, 255, 1) 90%
                    );

                    .like-icon {
                        padding: 11px;
                        color: #f8456f;
                        transform: scale(1.2);
                    }
                }
            }

            .quantity-box {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                margin-left: 20px;
                border: 1px solid #353f40;
                border-radius: 999px;

                .quant-number,
                .action-btn {
                    color: #353f40;
                    font-size: 1.6rem;
                    font-weight: 500;
                }
                .quant-number {
                    text-align: center;
                    font-size: 1.8rem;
                    width: 25px;
                    margin: 0 4px;
                }
                .action-btn {
                    box-shadow: none;
                }
            }
        }
    }
}

.product-suggestion {
    margin-bottom: 18px;
}
.product-comment {
    // display: flex;
    // flex-direction: column-reverse;
    // position: relative;
    border-left: 5px solid var(--primary-color);
    width: 70%;
    max-height: 400px;
    overflow-y: auto;
}

.comment-sender {
    display: flex;
    align-items: end;
    width: 80%;
    height: 100px;
    margin: 10px 0;

    .comment-text {
        width: 80%;
        .comment-input {
            height: 100px;
            resize: none;
            border-radius: 12px;
            font-size: 1.6rem;
        }
    }

    .comment-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70px;
        height: 40px;
        margin-left: 8px;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 12px;
        background-color: #ad2dfd9b;
        color: #fff;
        font-size: 1.6rem;
        &:hover {
            color: #ccc;
        }
    }
}

@keyframes changeColor {
    0% {
        border-image: linear-gradient(45deg, #fa8bff 0%, #2bd2ff 52%, #2bff88 90%) 10;
        background-color: #2bd2ff;
    }
    25% {
        border-image: linear-gradient(135deg, #fa8bff 0%, #2bd2ff 52%, #2bff88 90%) 10;
        background-color: #2bd2ff;
    }
    50% {
        border-image: linear-gradient(225deg, #fa8bff 0%, #2bd2ff 52%, #2bff88 90%) 10;
        background-color: #2bd2ff;
    }
    75% {
        border-image: linear-gradient(315deg, #fa8bff 0%, #2bd2ff 52%, #2bff88 90%) 10;
        background-color: #2bd2ff;
    }
    100% {
        border-image: linear-gradient(45deg, #fa8bff 0%, #2bd2ff 52%, #2bff88 90%) 10;
        background-color: #2bd2ff;
    }
}

@keyframes bouncing {
    // 25% {
    //     transform: translateY(5%);
    // }
    // 50% {
    //     transform: translateY(10%);
    // }
    // 75% {
    //     transform: translateY(-5%);
    // }
    // 100% {
    //     transform: translateY(-10%);
    // }
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5%);
    }
}

@keyframes zoomInOut {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1); // Zoom in
    }
    100% {
        transform: scale(1); // Zoom out to original size
    }
}

@keyframes floating {
    0% {
        transform: translateY(0) scale(0.2);
    }
    50% {
        transform: scale(0.6);
    }
    100% {
        transform: translateY(150vh) scale(0.1);
    }
}
