// .active {
//     color: red;
// }

.nav-scss {
    .item-scss {
        // a {
        //     &.active {
        //         border-bottom: 3px solid var(--primary-color);
        //     }
        // }

        .border-container {
            position: relative;
            font-size: 1.8rem;
            i {
                margin-right: 6px;
                font-size: 1.8rem;
                color: #00a9ff;
            }

            &.active {
                .border-inner {
                    position: absolute;
                    background-color: var(--primary-color);
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 4px;
                    animation: activeAnim ease-out 0.3s;
                }
            }
        }
    }
}

.dropdown {
    .profile-avatar {
        width: 40px;
        height: 40px;
        object-fit: cover;
        border: 2px solid rgb(200, 0, 255);

        border-radius: 50%;
        cursor: pointer;

        &:hover ~ .dropdown-menu {
            display: block;
        }
    }

    .dropdown-menu {
        right: 0;
        top: 48px;
        li {
            font-size: 1.6rem;
            padding: 4px 14px;
            i {
                color: #00a9ff;
                margin-right: 6px;
            }
        }
        &:hover {
            display: block;
        }

        &::before {
            content: '';
            display: inline-block;
            position: absolute;
            top: -12px;
            background-color: transparent;
            width: 100%;
            height: 16px;

            &:hover {
                display: block;
            }
        }
    }
}

@keyframes activeAnim {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
