.cart-item {
    display: flex;
    align-items: center;
    width: 100%;

    margin-bottom: 15px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;

    .img {
        width: 25%;
        height: 130px;
        object-fit: cover;
        border-radius: 15%;
    }

    .content {
        flex: 1;
        margin-left: 10px;

        .title {
            font-size: 1.6rem;
            margin-bottom: 15px;
        }

        .price-quantity {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .quantity {
                margin-right: 10px;
            }

            .quantity-box {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                border: 1px solid #353f40;
                border-radius: 999px;

                .quant-number,
                .action-btn {
                    color: #353f40;
                    font-size: 1.2rem;
                    font-weight: 500;
                }
                .quant-number {
                    text-align: center;
                    font-size: 1.6rem;
                    width: 25px;
                    margin: 0 4px;
                }
                .action-btn {
                    box-shadow: none;
                }
            }
        }
    }

    .delete-icon {
        cursor: pointer;
        color: red;
        margin: auto 12px;
        font-size: 2.6rem;
    }
}
