.modal-header {
    .heading {
        font-size: 2.6rem;
        color: var(--heading-color);
    }
}

.modal-body {
    font-size: 1.6rem;
}

.modal-footer {
    .action-btn {
        font-size: 1.6rem;
    }
}
