.wrapper {
    // height: 3000px;
    background-color: #eeeeee;
}

.inner {
    width: var(--content-width);
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
    // height: 5000px;

    .heading {
        margin-top: 22px;
        font-size: 2.6rem;
        font-weight: 600;
        text-align: center;
        color: var(--heading-color);
    }

    .addNew-form {
        margin-top: 60px;
        .title {
            margin-top: 30px;
            color: var(--heading-color);
            font-size: 2.4rem;
            font-weight: 600;
            text-decoration: underline;
        }

        .form-row {
            margin-top: 15px;
            .textarea-form {
                .input-label {
                    font-weight: 500;
                    font-size: 1.6rem;
                    margin-left: 5px;
                    color: var(--heading-color);
                }
                .input {
                    padding: 32px 12px 12px;
                    height: 115px;
                    resize: none;
                }

                .choose-file {
                    .image-preview-list,
                    .image-preview {
                        width: 100%;
                        min-height: 80px;
                        border: 1px solid cornflowerblue;
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;

                        img {
                            width: 90px;
                            height: 90px;
                            margin: 12px 8px;
                            object-fit: cover;
                            border: 2px solid rgb(2, 154, 151);
                            border-radius: 12px;
                        }
                    }

                    .upload-btn {
                        font-size: 1.6rem;
                        color: darkmagenta;

                        border-radius: 14px;
                        padding: 4px;
                        background-color: #faaca8;
                        background-image: linear-gradient(111deg, #faaca8 0%, #ddd6f3 100%);
                    }
                    .uploadThumb-btn {
                        font-size: 1.6rem;
                        color: darkblue;
                        border-radius: 14px;
                        padding: 4px;
                        background-color: #faaca8;
                        background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
                    }
                }
            }

            .input {
                font-size: 1.6rem;
                padding: 12px;
            }
            .input-label {
                font-weight: 500;
                color: #803bdb;
            }

            // check box form
            .check-input,
            .input-name {
                font-size: 2rem;
            }
        }
    }
    .save-btn {
        margin-top: 15px;
        font-size: 1.6rem;
    }
}
