.footer {
    margin-top: 130px;
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
}

.row {
    display: flex;

    .column {
        margin-left: 144px;
        &:first-child {
            margin-left: 0;
        }

        .title {
            margin: 0;
            font-weight: 500;
            font-size: 1.8rem;
            line-height: 1;
            color: #2e2e2e;
        }

        .list {
            margin-top: 26px;
            list-style: none;
            padding: 0;

            li {
                margin-left: auto;
            }

            a {
                display: inline-block;
                margin-top: 20px;
                font-weight: 400;
                font-size: 1.6rem;
                line-height: 1;
                color: #535353;
            }
        }
    }
}

.social {
    width: 20px;
    height: 20px;
    padding: 4px;
    border-radius: 50%;

    &:hover {
        opacity: 0.7;
    }
}

.copyright {
    text-align: center;
    padding-bottom: 50px;
    margin-top: 45px;

    .desc {
        margin: 0;
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 1;
        color: #b0b5b4;
    }
}
