.product-item {
    margin-bottom: 10px;
    padding: 16px;
    width: 285px;
    height: 458px;
    border: 1px solid transparent;
    border-radius: 12px;
    transition: all 0.3s ease-out;

    &:hover {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border: 1px solid transparent;
    }
}

.img-wrapper {
    border-radius: 12px;
    overflow: hidden;
    .item-thumb {
        width: 100%;
        height: 274px;
        object-fit: cover;
        transition: all 0.3s ease-out;

        &:hover {
            transform: scale(1.3, 1.3);
        }
    }
}

.body {
    // height: calc(458px - 274px);

    .heading {
        height: 50px;
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 1.4;
    }

    .category-tags {
        display: flex;
        flex-wrap: wrap;
        gap: 3px;
        margin-top: 10px;
        .tags {
            color: var(--text-color);
            padding: 5px;
            margin-right: 3px;
            border: 1px solid transparent;
            border-radius: 99px;

            &:hover {
                opacity: 0.85;
            }
        }

        .brand-tag {
            background-color: #90bfc7;
        }
        .type-tag {
            background-color: #c2df9e;
        }
        .switch-tag {
            background-color: #f6d8ec;
        }
    }

    .item-info {
        display: flex;
        margin: 24px 10px 0;

        justify-content: space-between;
        align-items: center;
        border-top: 1px solid #c6c6c6;

        .price {
            font-size: 1.8rem;
            font-weight: 700;
        }

        .star-icon {
            display: flex;
            align-items: center;
            font-size: 1.8rem;
            .icon {
                color: #fff200;
            }
        }
    }
}
